@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:500;
  position: relative;
  min-height: 100vh;
}

.light--mode-body{
  background-color: hsl(236, 33%, 92%);
  color:  hsl(235, 19%, 35%);
}

.dark--mode-body{
  background-color: hsl(235, 21%, 11%);
  color: hsl(234, 39%, 85%);
}

nav{
  padding: 6rem 0 2rem;
}

.input-box input{
  width: 100%;
  padding: .5rem .5rem .5rem 3rem; 
  outline: none;
  margin: 2rem 0 .5rem;
  border-radius: .3rem;
  font-weight: 500;
}

.light--mode-input{
  border :0px solid hsl(0, 0%, 98%);
  background-color :hsl(0, 0%, 98%);
  color : hsl(235, 19%, 35%);
}

.dark--mode-input{
  border: 0px solid hsl(235, 24%, 19%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.nav-items, .todo-body, nav{
  margin: 0 auto;
}

.logo p {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 7px;
  font-weight: 700;
}

.toggle {
  align-items: center;
}

.todo-body, nav {
  width: 50%;
}

.todo-body{
  margin-top: -20px;
}

.todo-box, .todo-box-filter{
  padding: .7rem .7rem .7rem 2rem; 
  text-align: left;
  border: 0px solid hsl(235, 24%, 19%);
  border-bottom: 1px solid hsl(234, 11%, 52%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.light--mode-todo-box, .light--mode-todo-box-filter{
  border :0px solid hsl(0, 0%, 98%);
  background-color :hsl(0, 0%, 98%);
  border-bottom: 1px solid hsl(236, 9%, 61%);
  color:   hsl(235, 19%, 35%);
}

.dark--mode-todo-box, .dark--mode-todo-box-filter{
  border: 0px solid hsl(235, 24%, 19%);
  border-bottom: 1px solid hsl(234, 11%, 52%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.todo-box span{
  margin-left: .7rem;
}

.todo-box-filter{
  border-bottom: none;
}

.draggable-list .todo-box.over.draggable{
  background-color: hsl(234, 39%, 85%);
}


.toggle,
.todo-box__sorter,
.todo-sorter,
.nav-items {
  display: flex;
}

.todo-sorter {
  width: 30%;
}

.todo-box__sorter,
.todo-sorter {
  justify-content: space-around;
}

.todo-box{
  display: flex;
  justify-content: space-between;
}

.task_close{
  margin-right: 1rem;
}

.task_close:hover{
  cursor: pointer;
}

.hidden{
  display: none;
  visibility: hidden;
}

.nav-items {
  justify-content: space-between;
}


footer{
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 1rem auto .5rem;
}

.toggle img{
  cursor: pointer;
}

.filter:hover{
  cursor: pointer;  
}

.light--mode-filter:hover{
  color:  hsl(236, 9%, 61%)
}

.dark--mode-filter:hover{
  color:#fff;
}


@media(max-width: 1130px) {
  .todo-body, nav {
    width: 80%;
  }
}


@media(max-width: 740px) {
  .sorters{
    position: absolute;
    width:80%;
    padding: .5rem 0;
    left: 0;
    right: 0;
    margin: 3.5rem auto 0;
  } 
  .light--sorters{
    border :0px solid hsl(0, 0%, 98%);
    background-color :hsl(0, 0%, 98%);
    color:  hsl(235, 19%, 35%);
  }
  .dark--sorters{
    border: 0px solid hsl(235, 24%, 19%);
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
  }
}

@media(max-width:375px){
  body{
    font-size: 13px;
  }
  .input-box input{
    padding: .5rem .5rem .5rem 1rem; 
  }
  .logo p {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 7px;
    font-weight: 700;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: .4rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
